.primary-color {
  color: #5a4b4b;
}

.secondary-color {
  color: #998d93;
}

.primary-background {
  background-color: #5a4b4b;
}

.secondary-background,
.secondary-background:hover {
  background-color: #f5f3f2;
}
