.cordial_invitation_container {
  background-color: #f5f3f2;
  margin-top: 60px;
  color: #998d93;
}

.cordial_title {
  padding-top: 30px;
}

.cordial_description {
  padding-bottom: 10px;
}

.cordial_footer {
  padding-bottom: 30px;
}
