.cordial_invitation_container {
  margin-top: 60px;
}

.cordial_title {
  padding-top: 30px;
  padding-bottom: 30px;
}

.cordial_description {
  padding-bottom: 10px;
}

.cordial_footer {
  padding-bottom: 30px;
}
