.present_wedding_image {
  width: 85%;
  filter: brightness(0.9);
  border-radius: 5px;
}

.present_wedding_name {
  margin-top: 40px;
}

.present_wedding_group {
  flex-direction: column;
  justify-content: space-between;
  margin-top: 16px;
  height: 48px;
  font-size: 16px;
  color: #685252;
}
