.recepient_container {
  display: none;
}

.recepient_header {
  padding-top: 60px;
  padding-bottom: 30px;
}

.recepient_description {
  padding-bottom: 10px;
}

.recepient_address {
  margin-top: 30px;
  padding-bottom: 60px;
}
