@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0px;
  font-family: "Pretendard-Regular";
}

button {
  font-family: "Pretendard-Regular";
}

.container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.header-text {
  font-size: 22px;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
