body {
  margin: 0px;
}

.container {
  margin-top: 10%;
  margin-bottom: 10%;
}

.header-text {
  font-size: 22px;
  font-weight: 600;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
